* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v40_2 {
  width: 940px;
  height: 960px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v40_3 {
  width: 940px;
  height: 960px;
  background: url("../images/v40_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
